---


export interface Props{
    title: string;
    img: string;
    link: string;
    description: string;
}

const { title, img, link, description } = Astro.props;
---


<article class="flex gap-4 flex-col justify-center items-start text-start">
    <header class="inline-flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-4">
        <h3 class="text-2xl">{title}</h3>
    </header>
    <div>
        <a title="see project" target="_blank" href={link}>
            <img class="w-full h-full rounded-lg max-w-xl transition-all duration-300 hover:brightness-75" src={img} alt={description}>
        </a>
    </div>
    <footer class="flex flex-col items-start gap-4
    [&>p]:max-w-lg">
        <p class="text-pretty text-base lg:text-lg">{description}</p>
    </footer>
</article>