---
import Layout from "../layouts/Layout.astro";
import MoreProjects from "../components/projects/MoreProjects.astro";
import MainProjects from "../components/projects/MainProjects.astro";
import mainProjectsJSON from "../services/docs/main-projects.json";
import AboutMe from "../components/AboutMe.astro";

import iconDumbbell from "../assets/icon/dumbbell-solid.svg";
---

<Layout title="Fabricio Jordán Portfolio | FrontEnd Developer">


  <main class="flex flex-col gap-20 text-white">
    <AboutMe />

    <section
      class="max-w-3xl w-full text-start flex flex-col justify-center items-start gap-12"
    >
      <header class="inline-flex justify-start items-end gap-4">
        <h1 class="text-4xl">Proyectos</h1>
        <div>
          <img
            class="w-8 h-8"
            src={iconDumbbell?.src}
            alt="icono de pesa para hacer ejercicio, referencia a mis ejercicios hechos"
          />
        </div>
      </header>
      <section id="mainProjects" class="flex flex-col justify-center items-start gap-16">

        {
          mainProjectsJSON.map(
            ({ name, image, url, github, description, techs }) => (
              <MainProjects
                name={name}
                image={image}
                url={url}
                github={github}
                description={description}
                techs={techs}
              />
            )
          )
        }

      </section>
    </section>

    <section>
      <MoreProjects />
    </section>

  </main>

</Layout>

<style>
  .bg-size-1 {
    background-size: 250% 100% !important;
  }
  .bg-linear-3 {
    background: linear-gradient(
      110deg,
      #a4ccb31a,
      50%,
      #ffffff66,
      55%,
      #a4ccb31a
    );
  }

</style>
