---
import Layout from "../layouts/Layout.astro";
import MoreProjects from "../components/projects/MoreProjects.astro";
import MainProjects from "../components/projects/MainProjects.astro";
import mainProjectsJSON from "../services/docs/main-projects.json";
import AboutMe from "../components/AboutMe.astro";

import iconDumbbell from "../assets/icon/dumbbell-solid.svg";
---

<Layout title="Fabricio Jordán Portfolio | FrontEnd Developer">
  <script is:inline>
    function copyMailToClipboard() {
      window.location.href = "mailto:fabriorange28@gmail.com";
      document.getElementById("message").classList.remove("hidden");
      setTimeout(() => {
        document.getElementById("message").classList.add("hidden");
      }, 1000);
    }
  </script>

  <main class="flex flex-col gap-20 text-white">
    <div
      id="message"
      class="z-50 hidden fixed top-6 w-full max-w-[592px] text-center"
    >
      <p
        class="inline-block m-auto bg-[#505050] tracking-widest p-2 rounded-lg"
      >
        Enviando Mail...
      </p>
    </div>

    <AboutMe />

    <section
      class="max-w-3xl w-full text-start flex flex-col justify-center items-start gap-12"
    >
      <header class="inline-flex justify-start items-end gap-4">
        <h1 class="text-4xl">Proyectos</h1>
        <div>
          <img
            class="w-8 h-8 invert"
            src={iconDumbbell?.src}
            alt="icono de pesa para hacer ejercicio, referencia a mis ejercicios hechos"
          />
        </div>
      </header>
      <section id="mainProjects" class="flex flex-col justify-center items-start gap-16">

        {
          mainProjectsJSON.map(
            ({ name, image, url, github, description, techs }) => (
              <MainProjects
                name={name}
                image={image}
                url={url}
                github={github}
                description={description}
                techs={techs}
              />
            )
          )
        }

      </section>
    </section>

    <section id="moreProjects">
      <MoreProjects />
    </section>

  </main>

</Layout>

<style>
  .bg-size-1 {
    background-size: 250% 100% !important;
  }
  .bg-linear-3 {
    background: linear-gradient(
      110deg,
      #a4ccb31a,
      50%,
      #ffffff66,
      55%,
      #a4ccb31a
    );
  }

  .animation-1 {
    animation: background-shine 8s cubic-bezier(0.42, 0, 0.7, 2.19) infinite;
  }

  @keyframes background-shine {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
</style>
